@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .py-0\.5 {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  .py-0\.5rem {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
